:root{
    --color-brand-primary: #a1603b;
    --color-brand-contrast: #fff;
    ---color-medium-gray: #898989;
    --color-light-gray: #ccc;
    --color-background: #e5e5e5;
    --font-body: 'Sagoe UI', Ariel, Helvetica, sans-serif
}

header{
    background-color: var(--color-brand-primary);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: var(--color-background);
}